<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/site.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Simple Banking Service</title>
</head>
<body>
    <nav class="navbar">
        <h2><a href="../index.html">Simple Banking Service</a></h2>
        <a asp-controller="Login" asp-action="Index" class="sign-up-button">Login</a>
    </nav>
    <div class="page-container">
        <main class="content-wrap">
            @if (ViewBag.Error != null)
            {
                <div class="error-message" style="color: red; font-weight: bold; margin-bottom: 20px;">
                    @ViewBag.Error
                </div>
            }

            @RenderBody()
        </main>
        <!-- Footer -->
        <footer>
            <p>&copy; 2024 Simple Banking Service. All Rights Reserved.</p>
        </footer>
    </div>
</body>
</html>

